###> carloshmarques/webshell-kit ###

##### Folders #####
build/
# dist/
node_modules/
vendor/
var/
.tmp/
# initial temp folders ############
# container for imports

###################################
# IDE's
.vscode/
.idea/


##### Files #####
ignore.*
*.ignore.*

# Environment variables and secret keys
.env
.env.test
*.pem

###< carloshmarques/webshell-kit ###
