section#generic.place.place
  .container
    // 🟢 A DIV QUE ENCAPSULA E HERDA O SASS DO BODY AUTOMATICAMENTE:
    div.container-testes
      div.main
        h1 Design a Website 
        h2 another
        p Lorem ipsum dolor sit amet consectetur adipisicing elit.
